{% extends "Home/base.html" %}
{% load static %}

{% block content %}
       <center>
       		<h1>Meet the Team</h1>
       		<hr>
      
       		<div class="row padding" id="team">


				<div class="col-md-6">
					<div class="card">
						<img src="{% static 'Home/media/download.jpeg' %}">
						<div class="card-body">
							<h1>Sonya</h1>
							<p>fhefkeb</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<img src="{% static 'Home/media/download.jpeg' %}">
						<div class="card-body">
							<h1>Shubh</h1>
							<p>fhefkeb</p>
						</div>
					</div>
				</div>



			</div>
       </center>
{% endblock content %}